In [1]:
import os

In [2]:
#get current working directory
os.getcwd()

'/Users/anmolrajarora/HMR_Python_ML'

In [3]:
#change directory
#'C:\\Users\\Username\\Music'
#'C:/Users/Username/Music'
os.chdir('/Users/anmolrajarora/Documents/aws')

In [4]:
os.getcwd()

'/Users/anmolrajarora/Documents/aws'

In [5]:
os.listdir()

['05-IAM_roles.mov',
 '01-CloudComputingIntro.mov',
 '03-IAM.mov',
 '02-IAM_Intro.mov',
 '04-IAM & Intro to EC2.mov',
 '05-IAM.mov']

In [6]:
import random

In [7]:
file = random.choice(os.listdir())

In [8]:
os.startfile(file)

AttributeError: module 'os' has no attribute 'startfile'

In [9]:
import webbrowser

In [10]:
#google.com to open in Internet Explorer
#https://google.com to open in Default browser
webbrowser.open('https://google.com')

True

In [11]:
os.system('notepad')

32512

In [2]:
users = [
    {
        'email' : 'a@abc.com',
        'password' : '1234'
    },
    {
        'email' : 'b@abc.com',
        'password' : '12345'
    }
]

In [4]:
email = input("Enter email : ")
password = input("Enter password")
for user in users:
    if email == user['email'] and password == user['password']:
        print('Login successful')
else:
    print('Invalid credentials')

Enter email : b@abc.com
Enter password12345
Login successful
Invalid credentials

In [14]:
email = input("Enter email : ")
password = input("Enter password")
result = 'Invalid credentials'
for user in users:
    if email == user['email'] and password == user['password']:
        result = 'Login successful'
        break
print(result)

Enter email : a
Enter password1
Invalid credentials

In [16]:
flag = True
i = 1
while flag:
    print(i)
    i+=1
    if i == 5:
        flag = False
else:
    print('In else')

1
2
3
4
In else

In [17]:
numbers = list(range(1,101))

In [32]:
#list comprehension
numbers = [i for i in range(1,101) if i % 2 == 0]
numbers

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [22]:
names = ['Ram', 'Shyam', 'Mohan']
salary = [10000, 10000, 15000]

In [33]:
for a,b in zip(names,salary):
    print(a,b)

Ram 10000
Shyam 10000
Mohan 15000

In [26]:
a

In [10]:
str1 = '\n\na b c .      \n\n   def'

In [11]:
str1

'\n\na b c .      \n\n   def'

In [13]:
print(str1.replace('\n','').replace('  ', ''))

a b c . def

In [24]:
str2 = '  Hello this is python    '
str2

'  Hello this is python    '

In [19]:
str3 = str2.strip(' ')

In [20]:
str3

'Hello this is python'

In [21]:
str4 = str3.split(' ')
str4

['Hello', 'this', 'is', 'python']

In [23]:
' | '.join(str4)

'Hello | this | is | python'

In [26]:
dict1 = {
    'names' : ['Ram', 'Shyam', 'Mohan'],
    'salary' : [10000, 10000, 15000]
}

In [27]:
dict1["hobby"] = ['cricket', 'music', 'movies']

In [28]:
dict1

{'names': ['Ram', 'Shyam', 'Mohan'],
 'salary': [10000, 10000, 15000],
 'hobby': ['cricket', 'music', 'movies']}

In [46]:
dict2 = {
    'age': [20,25,30]
}

In [47]:
dict1.update(dict2)

In [48]:
dict1['age']

{'names': ['Ram', 'Shyam', 'Mohan'],
 'salary': [10000, 10000, 15000],
 'hobby': ['cricket', 'music', 'movies'],
 'age': [20, 25, 30]}

In [51]:
dict1.update(company=['IBM', 'TCS', 'Infosys'])

In [52]:
dict1

{'names': ['Ram', 'Shyam', 'Mohan'],
 'salary': [10000, 10000, 15000],
 'hobby': ['cricket', 'music', 'movies'],
 'age': [20, 25, 30],
 'company': ['IBM', 'TCS', 'Infosys']}

In [49]:
import pandas as pd

In [53]:
df = pd.DataFrame(dict1)

In [56]:
df[['names', 'age', 'salary']]

   names  age  salary
0    Ram   20   10000
1  Shyam   25   10000
2  Mohan   30   15000

In [58]:
for key in sorted(dict1):
    print(key)

age
company
hobby
names
salary

In [61]:
for value in sorted(dict1.items(), reverse=True):
    print(value)

('salary', [10000, 10000, 15000])
('names', ['Ram', 'Shyam', 'Mohan'])
('hobby', ['cricket', 'music', 'movies'])
('company', ['IBM', 'TCS', 'Infosys'])
('age', [20, 25, 30])

In [66]:
for key,value in sorted(dict1.items(), key=lambda item : item[0]):
    print(f'{key},{value}')

age,[20, 25, 30]
company,['IBM', 'TCS', 'Infosys']
hobby,['cricket', 'music', 'movies']
names,['Ram', 'Shyam', 'Mohan']
salary,[10000, 10000, 15000]